service vendor.keymint-default /vendor/bin/hw/android.hardware.security.keymint-service
    class hal
    user root
    group system root drmrpc
    setenv LD_LIBRARY_PATH /vendor/lib64:/sbin:/system/lib64:/system/lib64/hw:/vendor/lib64/hw
    seclabel u:r:recovery:s0
